* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

main {
    display: flex;
    gap: 130px;
   


}

.img10 {
    background-image: url(../svg/inicial.svg);
    height: 100vh;
    max-height: 1031px;
    width: 100vw;
    max-width: 687px;
 
}

section {
    /* width:753px;
    height:1,024px; */
    display: flex;
    flex-direction: column;

}

header {
    align-items: center;

    & p:first-child {

        font-size: 25px;
        font-weight: 300;
        justify-content: flex-start;
    }

    .subtitulo {
        & h1 {
            font-size: 31px;
            font-weight: 500;
        }

        & p {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.container {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    justify-content: center;
    align-content: center;
  
}


.geral {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /*   margin: 203.5px 124.5px; */
    margin: 0 auto;
    width: 504px;
    height: 617px;
    border: 0.5px rgba(0, 0, 0, 0.527) solid;
    padding: 55px;
    border-radius: 7px;
}

section .form {
    width: 423px;
    height: 376px;
    /*   background-color: blue; */

    & #E-mail {
        border: none;
        outline: none;
        width: 423px;
        height: 59px;
        border-radius: 6px;
        border: 0.6px solid #282828CC;
        padding: 19px;
    }

    & #Senha {
        border: none;
        outline: none;
        width: 423px;
        height: 59px;
        font-size: 14px;
        padding: 19px;

    }

    & .email label {
        font-size: 16px;
    }

    .senha img {
        margin: 15px;

    }


    .senha form {
        width: 423px;
        height: 59px;

    }

    & .senha form label {
        font-size: 16px;
    }

}

.lembrasenha {
    display: flex;
    gap: 25px;
    margin: 50px 5px 25px;
    width: 423px;
}

#Lembrar-me {
    display: flex;
    justify-content: flex-start;

}

.input {
    display: flex;
    gap: 10px;
    border: 0.6px solid #282828CC;
    border-radius: 6px;
}

button {
    width: 423px;
    height: 60px;
    padding: 18px 0px 18px 0px;
    border-radius: 6px 0px 0px 0px;
    background-color: #111111;
    font-size: 16px;
    color: #fff;
}